.header {
    background-color: rgba(00, 00, 00, 0.56);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 46px;
    padding-bottom: 96px;
    @media screen and (min-width: 320px) {
        background-image: linear-gradient(rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)), url(../images/header/header-bg.jpg);
        max-width: 320px;
    }
    @media screen and (min-width: 770px) {
        background-image: linear-gradient(rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)), url(../images/header/header-bg-tabl.jpg);
        max-width: 770px;
    }
    @media screen and (min-width: 1024px) {
        background-image: linear-gradient(rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)), url(../images/header/header-bg-desk.jpg);
        max-width: 1024px;
    }
    &-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 41px;
    }
}

.logo {
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 24px;
    height: 24px;
    &-name {
        @media screen and (max-width: 770px - 1px) {
            display: none;
        }
    }
    &-img {
        margin-right: 10px;
    }
    &-links {
        display: flex;
        flex-wrap: nowrap;
    }
    &-link {
        color: #fff;
    }
    &-link:focus {
        border-bottom: 3px solid orange;
    }
    &-item:not(:last-child) {
        margin-right: 40px;
    }
}

.search {
    @media screen and (min-width: 770px) {
        display: flex;
        justify-content: center;
    }
    &-input {
        margin-right: auto;
        margin-left: auto;
        @media screen and (max-width: 770px - 1px) {
            width: 100%;
        }
        @media screen and (min-width: 770px) {
            width: 336px;
        }
        width: 100%;
        background-color: inherit;
        border-bottom: 0.5px solid #fff;
        color: #fff;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        padding-bottom: 5px;
    }
    &-input:focus,
    &-input:active {
        border-bottom: 0.5px solid orange;
    }
    &-input:focus::placeholder,
    &-input:active::placeholder {
        color: orange;
    }
    &-input::placeholder {
        color: #fff;
    }
}