  :root {
     --primary-background-color: #e5e5e5; //фон
     --accent-color: #FF6B01; //кнопка
     --accent-text-color: #FF6B08; //жанр и год фильма, подчеркивание
     --primary-text-color: #fff;
     --secondary-text-color: #000;
     --err-text-color: #FF001B;
     --footer-background-color: #F7F7F7; // footer + фон стрелки пагинации
 }
 
 $MobileWidth: 320px;
 $TabletWidth: 768px;
 $DesktopWidth: 1024px;

 .is-hidden {
  display: none;
}