
:root {
  --primary-background-color: #fff; //фон
  --accent-color: #ff6b01; //кнопка
  --accent-text-color: #ff6b08; //жанр и год фильма, подчеркивание
  --primary-text-color: #fff;
  --secondary-text-color: #000;
  --err-text-color: #ff001b;
  --footer-background-color: #f7f7f7; // footer + фон стрелки пагинации
  --modal-grey-text-color: #8c8c8c;
}

 .is-hidden {
  display: none;
}