<!-- Header -->
<header class="header">
    <div class="container">
        <div class="header-nav">
            <a class="logo" href="#home"> <img class="logo-img" src="./images/header/logo.png" alt=""><svg class="logo-img visually-hiden"><use href="./images/header/logo.svg"></use></svg> <span class="logo-name">Filmoteka</span> </a>
            <nav class="logo-nav">
                <ul class="logo-links">
                    <li class="logo-item">
                        <a class="logo-link" href="#">HOME</a>
                    </li>
                    <li class="logo-item">
                        <a class="logo-link" href="#">MY LIBRARY</a>
                    </li>
                </ul>
            </nav>
        </div>
        <form class="search">
            <input class="search-input" type="text" name="film" placeholder="Поиск фильмов">
        </form>
    </div>
</header>