<header class="header">
  <div class="container cont-header-js">
    <div class="header-nav">
      <a class="logo" href="./index.html">
        <img class="logo-img" src="./images/header/logo.png" alt="" /><svg
          class="logo-img visually-hiden"
        >
          <use href="./images/header/logo.png"></use>
        </svg>
        <span class="logo-name">Filmoteka</span>
      </a>
      <nav class="logo-nav">
        <ul class="logo-links">
          <li class="logo-item">
            <a class="logo-link home-js logo-current" href="./index.html">HOME</a>
          </li>
          <li class="logo-item">
            <a class="logo-link library-js" href="#">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
    <form class="search form-js">
      <div class="search-input-box box-js">
        <input
          class="search-input"
          type="text"
          name="film"
          placeholder="Поиск фильмов"
          autocomplete="off"
          data-input
        />
        <span class="search-loap" data-loap>&#8981;</span>
      </div>

      <p class="search-erorr visually-hiden">
        Search result not successful. Enter the correct movie name and try again
      </p>
    </form>

    <ul class="library-buttons buttons-js visually-hiden">
      <li class="library-item">
        <button class="library-button" data-watched-header>WATCHED</button>
      </li>
      <li class="library-item"><button class="library-button" data-queue-header>QUEUE</button></li>
    </ul>
  </div>
</header>
