<div class="backdrop is-hidden" data-modal>
  <div class="modal-container">
    <div class="modal-container-close open_modal" data-modal-close>+</div>
    <div class="modal-container-title">
      The project was created by <span class="modal-container-title--team">"ASTRO Team"</span>
    </div>
    <ul class="modal-team-list"></ul>
    <ul class="modal-team-pagination" data-modal-pagination></ul>

    <div id="paginate-teamModal" class="is-hidden">
      <div class="controls-teamModal">
        <div class="first-teamModal">&#171;</div>
        <div class="prev-teamModal">&#60;</div>
        <div class="numbers-teamModal">
          <div>1</div>
        </div>
        <div class="next-teamModal">&#62;</div>
        <div class="last-teamModal">&#187;</div>
      </div>
    </div>
  </div>
</div>
