<div data-modal-auth class="backdrop-auth is-hidden">
  <div class="modal-body block">
    <button class="button-close" data-auth-close>
      <svg tabindex="0" class="icon-closeback">
        <path
          fill="none"
          stroke-linejoin="miter"
          stroke-linecap="butt"
          stroke-miterlimit="4"
          stroke-width="2.1333"
          d="M8.533 8.533l14.933 14.933M8.533 23.467l14.933-14.933"
        ></path>
      </svg>
    </button>
    <h1>Authorization</h1>
    <div class="modal-content">
      <form id="auth-form">
        <div class="auth-input">
          <input type="email" id="email-auth" required />
          <label for="email-auth">Email</label>
        </div>
        <div class="auth-input">
          <input type="password" id="password-auth" required />
          <label for="password-auth">Password</label>
        </div>
        <div class="container-btn-submit">
          <button type="submit" class="button auth">Sign in</button>
        </div>
      </form>
    </div>
  </div>

  <!-- <h1>Welcome to My Awesome App</h1>
  <div id="firebaseui-auth-container"></div>
  <div id="loader">Loading...</div> -->
</div>
