.to-up {
  position: fixed;
  bottom: 28px;
  right: 15px;
  display: none;
  z-index: 22;
  cursor: pointer;
}

.strelka-top-1 {
  margin: 20px 8px;
  border-radius: 50%;
  border: 2px solid var(--modal-grey-text-color);
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 0 12px 4px #a09f9f;
  background: radial-gradient(#fff, #6b6b6b);
  cursor: pointer;
  fill: rgba(201, 201, 201, 0.4);
  stroke-width: 2;
  stroke: #282e33;
  transition: fill 0.5s ease-out;
  transform: rotate(90deg);
}

.strelka-top-1:hover {
  border: 2px solid var(--accent-text-color);
  background: radial-gradient(var(--primary-background-color), var(--accent-color));
  stroke: var(--accent-text-color);
}
