.btn-clear {
  top: 250px;
  right: 20px;
  font-size: 16px;
  position: absolute;
  width: 120px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 20px;
  background: radial-gradient(#fff, var(--err-text-color));
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }
}
