@keyframes showModal {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.info-backdrop {
  z-index: 999;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}

.modal-body {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 280px;
  padding: 48px 20px;
  background-color: var(--primary-text-color);

  animation-name: showModal;
  animation-duration: 500ms;

  @media screen and (min-width: $TabletWidth) {
    display: flex;
    margin: 231px auto 0;
    width: 618px;
    padding: 42px 30px;
  }

  @media screen and (min-width: $DesktopWidth) {
    margin: 100px auto 0;
    width: 882px;
    padding: 50px 30px;
  }

  &.is-hidden {
    display: none;
  }

  .button-close {
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 33px;
    width: 33px;
    overflow: hidden;
    outline: none;

    &:focus,
    &:hover {
      .icon-closeback path {
        stroke: var(--accent-color);
      }
    }

    .icon-closeback {
      display: block;
      height: 100%;
      width: 100%;

      path {
        stroke: black;
      }
    }
  }

  .container-film-card {
    @media screen and (min-width: $TabletWidth) {
      display: flex;
      gap: 30px;
    }

    @media screen and (min-width: $DesktopWidth) {
      gap: 30px;
    }
  }

  .container-film-info {
    @media screen and (min-width: $TabletWidth) {
      max-width: 264px;
    }

    @media screen and (min-width: $DesktopWidth) {
      max-width: 396px;
    }
  }
}

.modal-image {
  margin-bottom: 30px;
  display: block;
  height: 356px;
  width: 240px;
  border-radius: 5px;

  @media screen and (min-width: $TabletWidth) {
    margin-bottom: 0;
    margin-right: 32px;
    height: 374px;
    width: 264px;
  }

  @media screen and (min-width: $DesktopWidth) {
    margin-right: 30px;
    height: 478px;
    width: 396px;
  }
}

.modal-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;

  @media screen and (min-width: $DesktopWidth) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal-list-info {
  margin-bottom: 20px;
}

.modal-item-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: var(--modal-grey-text-color);
  display: grid;
  grid-template-columns: 1fr 2fr;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.vote-container {
  display: flex;
  gap: 3px;
  align-items: center;

  .counter {
    display: flex;
    padding: 2px 4px;
    line-height: 1;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    border-radius: 5px;

    &.vote {
      border: 1px solid var(--accent-color);
      background-color: var(--accent-color);
      color: var(--primary-text-color);
    }

    &.count {
      border: 1px solid var(--footer-background-color);
      background-color: var(--footer-background-color);
      color: var(--secondary-text-color);
    }
  }
}

.modal-item-text {
  color: var(--secondary-text-color);
}

.uppercase-text {
  text-transform: uppercase;
}

.modal-describing-title {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
}

.modal-describing-text {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66;
}

.modal-batton-container {
  display: flex;
  gap: 14px;
}

.button {
  display: flex;
  padding: 8px 12px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;
  width: 112px;
  height: 44px;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;

  &.primary {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--primary-text-color);
  }

  @media screen and (min-width: $TabletWidth) {
    width: 124px;
    padding: 8px 9px;
  }

  @media screen and (min-width: $DesktopWidth) {
    width: 136px;
  }

  &.auth {
    &:focus,
    &:hover {
      background-color: var(--accent-color);
      border: 1px solid var(--accent-color);
      color: var(--primary-text-color);
    }
  }
}

.modal-open {
  height: 100vh;
  overflow-y: hidden;
}
