.films-gallery {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: $TabletWidth) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  background-color: var(--primary-background-color);
}

.card__film {
  width: 280px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $TabletWidth) {
    width: 294px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin: 15px;
  }

  @media screen and (min-width: $DesktopWidth) {
    width: 274px;
    margin: 15px;
  }

  .thumb {
    margin-bottom: 10px;
  }

  h2 {
    margin: 0;

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 12px;
    line-height: 1.34;
  }
}

.card__text {
  color: var(--accent-text-color);

  font-size: 12px;
  line-height: 1.34;
}

.card__vote_average {
  width: 36px;
  height: 16px;

  margin-left: 10px;

  color: var(--primary-text-color);

  background-color: var(--accent-color);
  border-radius: 5px;
}
