.love {
  width: 14px;
  height: 12.8px;
  fill: var(--accent-text-color);
  margin: 10px 8px 0 8px;
  @media screen and (min-width: $TabletWidth) {
    margin-top: 0;
    vertical-align: middle;
  }
}

footer {
  padding-top: 19px;
  padding-bottom: 39px;
  text-align: center;
  height: 100px;
  background: var(--footer-background-color);

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  @media screen and (min-width: $TabletWidth) {
    height: 77px;
    line-height: 20px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: $TabletWidth) {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  a {
    color: inherit;
    // text-decoration: underline;
  }
  p {
    vertical-align: middle;
  }
}

.content {
  min-height: calc(100vh - 332px);
  @media screen and (min-width: $TabletWidth) {
    min-height: calc(100vh - 309px);
  }
}

// For Animation

a {
  position: relative;
  text-decoration: none;
  transition: margin 0.25s;
}
a svg {
  width: 110px;
  height: 55px;
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translate(-50%, 9px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--accent-text-color));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}
a svg:hover {
  --spacing: 4px;
  --stroke: var(--accent-color);
  --stroke-delay: 0.1s;
  --offset: 180px;
}
