.backdrop-auth {
    z-index: 999;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ff6b01(0, 0, 0, 0.25);
    overflow-y: auto;
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.backdrop-auth.is-open {
    display: block;
}

.modal-body.block {
    display: block;
    align-items: center;
    background-color: var(--modal-grey-text-color);
    border-radius: 10px;
    h1 {
        margin-bottom: 20px;
        text-align: center;
    }
    .container-btn-submit {
        display: flex;
        justify-content: center;
    }
}

.auth-input {
    margin-bottom: 15px;
}

.error-message,
.error-message-reg {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    color: darkred;
}

.button-auth {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    border: 1px solid var(--accent-text-color);
    border-radius: 5px;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    &:nth-child(2) {
        margin-left: 10px;
    }
}