.hide-form {
  color: var(--primary-text-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: -100vh;
  left: 0;
  width: 320px;
  max-height: 100vh;
  overflow-y: auto;
  -webkit-transition: bottom 0.5s linear;
  -o-transition: bottom 0.5s linear;
  transition: bottom 0.5s linear;
}

.hide-form-active {
  bottom: 0 !important;
}

.hide-form a {
  color: inherit;
  font-style: italic;
}

.order-trigger {
  display: block;
  width: 220px;
  height: 30px;
  display: block;
  margin-left: auto;
  background-color: var(--err-text-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 0 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.order-trigger:hover {
  background-color: var(--accent-color);
}

.order-ticket {
  background-color: var(--secondary-text-color);
  padding: 20px;
}

.order-ticket__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}

.order-ticket__description {
  margin-bottom: 15px;
}

.order-ticket__label {
  position: relative;
  padding-top: 10px;
  margin-bottom: 15px;
}

.order-ticket__label-text {
  position: absolute;
  padding: 0 5px;
  left: 10px;
  top: 15px;
  background-color: var(--secondary-text-color);
  transition: top 0.2s linear, border-color 0.5s linear;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.order-ticket__input {
  display: block;
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
}

.order-ticket__label-focus .order-ticket__label-text,
.order-ticket__input:focus + .order-ticket__label-text,
.order-ticket__input:active + .order-ticket__label-text {
  top: 0;
  border-color: var(--accent-color);
}

.order-ticket__label-focus .order-ticket__input,
.order-ticket__input:active,
.order-ticket__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.order-ticket__preloader-wrapper {
  position: relative;
  display: none;
}

.order-ticket__thanks-wrapper {
  display: none;
}

@media (max-width: 576px) {
  .hide-form {
    right: 0;
    width: 100vw;
  }

  .order-trigger {
    margin: 0 auto;
  }
}

.send-form {
  border-radius: 5px;
  height: 36px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--primary-text-color);
}

.modal-needFilm-close {
  position: absolute;
  top: 8px;
  transform: rotate(45deg);
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: bold;
  font-family: Times, sans-serif;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.6s;
  box-sizing: content-box;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.loader-need-film {
  width: 75px;
  height: 75px;
  border: 10px solid var(--primary-text-color);
  border-radius: 50%;
  border-top-color: var(--accent-color);
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translate(-50%, -50%);
  animation: 1s spin infinite linear;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
